name: Run tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  storybook8:
    runs-on: ubuntu-latest
    env:
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
      HAPPO_PROJECT: storybook8
      YARN_IGNORE_PATH: 1

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: corepack enable
      - run: yarn set version 1.22.22
      - run: yarn -v
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn test
      - run: yarn build && yarn happo-ci-github-actions
      - run: yarn build-local-storybook && HAPPO_USE_PREBUILT_PACKAGE=yes HAPPO_PROJECT=storybook8-prebuilt yarn happo-ci-github-actions

  storybook7:
    runs-on: ubuntu-latest
    env:
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
      HAPPO_PROJECT: storybook7
      YARN_IGNORE_PATH: 1

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: corepack enable
      - run: yarn set version 1.22.22
      - run: yarn install --immutable
      - run: yarn add --dev @storybook/addon-actions@7 @storybook/addon-interactions@7 @storybook/api@7 @storybook/manager-api@7 @storybook/preview-api@7 @storybook/react@7 @storybook/react-webpack5@7 storybook@7
      - run: yarn build && yarn happo-ci-github-actions

  storybook6:
    runs-on: ubuntu-latest
    env:
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      DISABLE_REACT_WEBPACK5_FRAMEWORK: true
      DISABLE_ADDONS: true
      HAPPO_DEBUG: true
      HAPPO_PROJECT: storybook6
      YARN_IGNORE_PATH: 1

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: corepack enable
      - run: yarn set version 1.22.22
      - run: yarn install --immutable
      - run: rm .storybook/Interactive.stories.js
      - run: yarn add --dev storybook@6 @storybook/addon-actions@6 @storybook/addon-interactions@6 @storybook/api@6 @storybook/react@6 global @storybook/channels@6 @storybook/channel-websocket@6
      - run: yarn build
      - run: yarn storybook build --version
      - run: yarn happo-ci-github-actions
